- var menuItems = ["О нас", "Работы", "Букеты", "Контакты"];

//- insta last bouquets
- var smooth1 = "https://instagram.fhel6-1.fna.fbcdn.net/v/t51.2885-15/e35/36548834_1323272061151229_8458620257597128704_n.jpg?_nc_ht=instagram.fhel6-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=jnJOiSO0pmoAX8mVZid&oh=d6e127af280fc5ac8bf8836ef6331a76&oe=5F721AD2";
- var smooth2 = "https://instagram.fhel6-1.fna.fbcdn.net/v/t51.2885-15/e35/41166707_1799756716819625_3184601208482137763_n.jpg?_nc_ht=instagram.fhel6-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=jvk6kepLIKMAX-ugvYD&oh=f0276406fd7a33b2932a7aae6049bae4&oe=5F569D58";
- var smooth3 = "https://instagram.fhel6-1.fna.fbcdn.net/v/t51.2885-15/e35/36955634_654853771559124_1758934316261310464_n.jpg?_nc_ht=instagram.fhel6-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=Rsss214Rr7gAX-L-nLt&oh=f00cab1ef0db6fb6c99e5d4c1c175a92&oe=5F706C1B";
- var smooth4 = "https://instagram.fhel3-1.fna.fbcdn.net/v/t51.2885-15/e35/38532832_218205335537118_7560339237891997696_n.jpg?_nc_ht=instagram.fhel3-1.fna.fbcdn.net&_nc_cat=106&_nc_ohc=-6lNGBQ-rqQAX_00yva&oh=d869c17470631043fa407041cd71d941&oe=5F70B915";
- var instaLinks = [smooth1, smooth2, smooth3, smooth4];

//- bouquets:
- var b1 = {id: 10001, name: "Летний вечер", price: "1400", descr: "Букет с розами, хлопком, лимониумом.", picture: "/assets/images/bouquets/summerEvening.jpg", pictureMobile: "/assets/images/bouquets/summerEveningMobile.jpg"};
- var b2 = {id: 10002, name: "Фруктовый праздник", price: "1600", descr: "Букет с альстромерией, лаймом, сливой, киви, мандаринами и зеленью", picture: "/assets/images/bouquets/fruits.jpg", pictureMobile: "/assets/images/bouquets/fruitsMobile.jpg"};
- var b3 = {id: 10003, name: "Розовый фламинго", price: "800", descr: "Композиция с герберой, хлопком, кустовой розой, макарунс.", picture: "/assets/images/bouquets/pink.jpg", pictureMobile: "/assets/images/bouquets/pinkMobile.jpg"};
- var b4 = {id: 10003, name: "Нежность", price: "1400", descr: "Цветочная корзина с розами, кустовыми розами, кустовой хризантемой, зеленью.", picture: "/assets/images/bouquets/sense.jpg", pictureMobile: "/assets/images/bouquets/senseMobile.jpg"};
- var instaBouquets = [b1, b2, b3, b4];

//- contacts
- var phone = {name: "+7 922 130 72 56", srcPic: "/assets/images/socials/phone.svg", href: "tel:+79221307256"};
- var insta = {name: "greenpink_ekb", srcPic: "/assets/images/socials/insta.svg", href: "https://instagram.com/greenpink_ekb?igshid=mtyqdn94rgfy"};
- var whatsapp = {name: "+7 922 130 72 56", srcPic: "/assets/images/socials/whatsapp.svg", href: "https://wa.me/79221307256"};
- var contacts = [phone, insta, whatsapp];


mixin menu(className, items)
    each item in items
        a(class=className)= item


mixin smoothBlocks(className, items)
    div(class=className)
        each item in items
            div(class=`${className}_block`)
                div(class=`${className}_block_wrapper`)
                    img(class=`${className}_pic` src=item)


mixin bouquets(className, items)
    div(class=`${className}__acco`)
        button(class=`${className}__button ${className}__button_left` id='button_left')
            div(class=`${className}__button_segment ${className}__button_segment_left`)
        div(class=`${className}__acco_window`)
            div(class=`${className}__acco_line` id='line')
                each item in items
                    div(class=`${className}__acco_item`)
                        picture(class=`${className}__acco_pic_wrapper`)
                            source(srcset=item.picture media="(min-width: 769px) and (min-height: 769px)")
                            img(class=`${className}__acco_pic` srcset=item.pictureMobile)
                        div(class=`${className}__info`)
                            div(class=`${className}__info_price`)= `${item.price} руб.`
                            div(class=`${className}__info_text`)
                                div(class=`${className}__info_name`)= item.name
                                div(class=`${className}__info_descr`)= item.descr
        button(class=`${className}__button ${className}__button_right` id='button_right')
            div(class=`${className}__button_segment`)


mixin contacts(className, items)
    div(class=className)
        ul
            each item in items
                li(class=`${className}__item`)
                    img(class=`${className}__pic` src=item.srcPic, alt="social pic")
                    a(class=`${className}__link` href=item.href target="_blank")= item.name