- var menuItems = ["О нас", "Работы", "Букеты", "Контакты"];

//- insta last bouquets
- var smooth1 = "https://instagram.fhel6-1.fna.fbcdn.net/v/t51.2885-15/e35/70391656_2515621652003366_1811675408870812340_n.jpg?_nc_ht=instagram.fhel6-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=bMnqDXQIPl0AX9pn4WL&oh=3ee63f5e643a4fde42c640518148edb1&oe=5F0237A9";
- var smooth2 = "https://instagram.fhel6-1.fna.fbcdn.net/v/t51.2885-15/e35/51141445_493725481033572_3108523078689885006_n.jpg?_nc_ht=instagram.fhel6-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=SSaJQqemnecAX9C4wj-&oh=4c9c5769d451299e5ffa2ca73d880220&oe=5F26226F";
- var smooth3 = "https://instagram.fhel6-1.fna.fbcdn.net/v/t51.2885-15/e35/70803853_541882596579207_7902213244381787121_n.jpg?_nc_ht=instagram.fhel6-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=rRWQzBOpGzQAX8Za_kp&oh=af128d4767f5df2466bbb6406ca1dec4&oe=5F04A762";
- var smooth4 = "https://instagram.fhel3-1.fna.fbcdn.net/v/t51.2885-15/e35/64505666_454088488767522_8966959240115725410_n.jpg?_nc_ht=instagram.fhel3-1.fna.fbcdn.net&_nc_cat=106&_nc_ohc=-n8XMReLw3kAX92GYru&oh=ed6e753638c50fa3f92c86da0e6b1b38&oe=5F020CFB";
- var instaLinks = [smooth1, smooth2, smooth3, smooth4];

//- bouquets:
- var b1 = {id: 10001, name: "Летний вечер", price: "1400", descr: "Букет с розами, хлопком, лимониумом.", picture: "/assets/images/bouquets/summerEvening.jpg", pictureMobile: "/assets/images/bouquets/summerEveningMobile.jpg"};
- var b2 = {id: 10002, name: "Фруктовый праздник", price: "1600", descr: "Букет с альстромерией, лаймом, сливой, киви, мандаринами и зеленью", picture: "/assets/images/bouquets/fruits.jpg", pictureMobile: "/assets/images/bouquets/fruitsMobile.jpg"};
- var b3 = {id: 10003, name: "Розовый фламинго", price: "800", descr: "Композиция с герберой, хлопком, кустовой розой, макарунс.", picture: "/assets/images/bouquets/pink.jpg", pictureMobile: "/assets/images/bouquets/pinkMobile.jpg"};
- var b4 = {id: 10003, name: "Нежность", price: "1400", descr: "Цветочная корзина с розами, кустовыми розами, кустовой хризантемой, зеленью.", picture: "/assets/images/bouquets/sense.jpg", pictureMobile: "/assets/images/bouquets/senseMobile.jpg"};
- var instaBouquets = [b1, b2, b3, b4];

//- contacts
- var phone = {name: "+7 922 130 72 56", srcPic: "/assets/images/socials/phone.svg", href: "tel:+79221307256"};
- var insta = {name: "greenpink_ekb", srcPic: "/assets/images/socials/insta.svg", href: "https://instagram.com/greenpink_ekb?igshid=mtyqdn94rgfy"};
- var whatsapp = {name: "+7 922 130 72 56", srcPic: "/assets/images/socials/whatsapp.svg", href: "https://wa.me/79221307256"};
- var contacts = [phone, insta, whatsapp];


mixin menu(className, items)
    each item in items
        a(class=className)= item


mixin smoothBlocks(className, items)
    div(class=className)
        each item in items
            div(class=`${className}_block`)
                div(class=`${className}_block_wrapper`)
                    img(class=`${className}_pic` src=item)


mixin bouquets(className, items)
    div(class=`${className}__acco`)
        button(class=`${className}__button ${className}__button_left` id='button_left')
            div(class=`${className}__button_segment ${className}__button_segment_left`)
        div(class=`${className}__acco_window`)
            div(class=`${className}__acco_line` id='line')
                each item in items
                    div(class=`${className}__acco_item`)
                        picture(class=`${className}__acco_pic_wrapper`)
                            source(srcset=item.picture media="(min-width: 769px) and (min-height: 769px)")
                            img(class=`${className}__acco_pic` srcset=item.pictureMobile)
                        div(class=`${className}__info`)
                            div(class=`${className}__info_price`)= `${item.price} руб.`
                            div(class=`${className}__info_text`)
                                div(class=`${className}__info_name`)= item.name
                                div(class=`${className}__info_descr`)= item.descr
        button(class=`${className}__button ${className}__button_right` id='button_right')
            div(class=`${className}__button_segment`)


mixin contacts(className, items)
    div(class=className)
        ul
            each item in items
                li(class=`${className}__item`)
                    img(class=`${className}__pic` src=item.srcPic, alt="social pic")
                    a(class=`${className}__link` href=item.href target="_blank")= item.name